body{
    background-color: black;
    font-family: "Roboto", sans-serif;
}
.content{
    color: #FFFFFF;
}

h2{
    padding-top: 50px;
    font-size: 40px;
    text-align: center;
    color: aqua;
}

p{
    padding-top: 20px;
    font-size: 20px;
}

.staffs{
    align-items: center;
    float: right;
    display: flex;
    padding-top: 20px;
}
img{
    width: 300px;
    height: auto;
    padding-top: 30px
}


h3{
    padding-top: 20px;
    color: yellow;
}
