body{
    background-color: black;
    font-family: "Roboto", sans-serif;
}
.content{
    color: #FFFFFF;
}

.nav-items li a{
    color: #E5E5E5;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-decoration: none;
}

nav-items ul{
    display: flex;
    float: right;

}
.logo{
    display: flex;
    height: 100px;
    width: 100px;
}

.nav-items li{
    list-style: none;
    margin-right: 100px;
}
.nav-items li a{
    color: #E5E5E5;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-decoration: none;
}

h2{
    padding-top: 50px;
    font-size: 40px;
    text-align: center;
    color: aqua;
}

p{
    padding-top: 20px;
    font-size: 20px;
}

.staffs{
    align-items: center;
    float: right;
    display: flex;
    padding-top: 20px;
}
img{
    width: 300px;
    height: auto;
    padding-top: 30px
}


h3{
    padding-top: 20px;
    color: yellow;
}
