body{
    color: #ffffff;
    background-color: black;
}

h4{
    color: aqua;
    padding-top: 50px;
    align-items: center;
    text-align: center;
    font-size: 40px;
}

p{
    padding: 10px;
    font-size: 20px;
}

h5{
    font-size: 24px;
    color: yellow;
}

h6{
    font-size: 24px;
    color: yellow;
}

#container{
    color: #ffffff;
}
body{
    background-color: black;
    font-family: "Roboto", sans-serif;
    line-height: 28px;
    background-size: cover;
    color: #ffffff;
}

h1{
    padding-top: 50px;
    font-size: 40px;
    text-align: center;
    color: aqua;
}

img{
    border-radius: 10px;
    width: 300px;
    height: auto;
    padding-top: 30px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
}

nav ul{
    display: flex;

}
.logo{
    display: flex;
    height: 100px;
    width: 100px;
}

.nav-items li{
    list-style: none;
    margin-right: 100px;
}
.nav-items li a{
    color: #E5E5E5;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-decoration: none;
}

}
.context{
    padding-top: 30px;
    font-size: 20px;
}

.nav-items li a{
    color: #E5E5E5;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-decoration: none;
}

h2,h3{
    color: yellow;
}

h4{
    padding-top: 20px;
}
