body{
    background-color: white;
    font-family: "Roboto", sans-serif;
    line-height: 28px;
    background-size: cover;
    color: #ffffff;
    display: grid;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
}

nav ul{
    display: flex;

}
.logo{
    display: flex;
    height: 100px;
    width: 100px;
}

.nav-items li{
    list-style: none;
    margin-right: 50px;
}

.nav-items li a{
    color: black
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-decoration: none;
}

links, ol, li, a{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    padding-top: 50px;

}

img{
    height: 200px;
    width: 300px;
    padding-top: 0rem;
    border-radius: 0rem;
    padding: 5px;
    object-fit: cover;
    object-position: center;
    
}